<!-- <div style="display: flex;flex-wrap: wrap;justify-content: center;">
    <mat-card style="width: 28%;margin-bottom: 15px;margin-right: 10px;" *ngFor="let blog of submittedBlogs">
        <div style="width: 100%;height: 250px;overflow: hidden;">
            <img style="width: 100%;min-height: 100%;" src="{{ blog.coverTitleImage}}">
        </div>
        <div style="height: 10vw;text-overflow: ellipsis;line-height: 25px;">{{ blog.coverTitle}}</div>
        <div style="display: flex;justify-content: space-between;">
            <button mat-raised-button color="primary">Edit</button>
            <button mat-raised-button color="warn">Delete</button>
            <button mat-raised-button color="primary">Publish</button>
        </div>
    </mat-card>
</div> -->

<div style="height: 100vh;overflow: auto">
    <div
        style="background: #1A2980;background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);background: linear-gradient(to right, #26D0CE, #1A2980);">
        <div style="position: relative; " class="mb-5">
            <div class="d-flex justify-content-between">
                <div>
                    <img class="blog-logo ml-3 mt-4" src="../../../assets/images/desktopimages/logo.png">
                </div>
                <div class="m-5 d-flex" style="width: 22%;">
                    <mat-form-field style="width: 100%;" class="blog-input">
                        <input matInput placeholder="Search" autocomplete="off" (keyup)="applyFilter($event)">
                        <button mat-icon-button matSuffix>
                            <mat-icon>search</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>

        </div>
        <div class="d-flex align-content-start flex-wrap justify-content-center">
            <mat-card class="mx-2 my-4 p-4 box-shadow blog" style="width: 25rem;" *ngFor="let blog of submittedBlogs">
                <div class="mb-4" style="width: 100%;height: 250px;overflow: hidden;">
                    <img style="width: 100%;min-height: 100%;" src="{{ blog.coverTitleImage}}">
                </div>
                <mat-card-content>
                    <div class="blog_card-title" style="font-size: 18px;font-family: Avenir-Book;font-weight: bold;">
                        {{ blog.coverTitle}}
                    </div>
                </mat-card-content>
                <div style="display: flex;justify-content: space-between;">
                    <button mat-raised-button color="primary">Edit</button>
                    <button mat-raised-button color="warn">Delete</button>
                    <button mat-raised-button color="primary">Publish</button>
                </div>
            </mat-card>
        </div>
    </div>
</div>