.desktop-view {
    overflow-y   : auto;
    height       : 100vh;
    // overflow-y: auto;
}

.first-slide-background {
    background: linear-gradient(90deg, rgba(255, 171, 27, 0.7), rgba(245, 0, 140, 0.7), rgba(95, 78, 174, 0.7)), url(../../../assets/images/desktopimages/firstscreen.jpg);
    height    : 100vh;
}

.large-text {
    font-size  : 3vw;
    margin-top : 2vh;
    font-family: BrandonTextThin;
    color      : #ffffff;
}

.first-slide-small-text {
    font-family: GothamMedium;
    line-height: 4vh;
    font-size  : 3vh;
    margin-top : 2vh;
    color      : #ffffff;

}

.first-slide-video {
    width        : 40vmin;
    position     : relative;
    top          : -4.375rem;
    border       : none;
    border-radius: 1.25rem;
}

.second-slide-title {
    font-family: BrandonTextLight;
    font-weight: 900;
    margin-left: 8vw !important;
    font-size  : 2.8125rem;
    color      : black;
}

.second-slide-images {
    height: 7vh;
}

.second-slide-large-text {
    color      : black;
    font-family: GothamMedium;
    font-size  : 1rem;
    margin-top : 2.5vh;
}

.second-slide-small-text {
    color      : black;
    font-family: BrandonTextLight;
    font-weight: 600;
    font-size  : 0.75rem;
}

.slide-view {
    // height         : 700px;
    height         : 110vh;
    color          : #ffffff;
    background-size: cover;
}

.mobile-image {
    width: 21vw;
}

.left-icon-image {
    width: 7.5vw;
}

.right-icon-image {
    width      : 7.5vw;
    margin-left: 40.5vw;
}

.small-text {
    font-size  : 1.4375rem;
    margin-top : 1vh;
    font-family: BrandonTextLight;
    color      : #ffffff;
}

.right-slide-text-alignment {
    text-align     : justify;
    text-align-last: right;
}

.modal-content-styles {
    // width        : 100%;
    // height       : 110%;
    // margin       : auto;
    text-align   : center;
    border-radius: 46px;
}

.desktop-play-btn-positioning {

    position  : absolute;
    margin-top: 35px;
    cursor    : pointer;
    top       : 80%;
    left      : 40%;
}

.play-btn {
    width : 60px;
    height: 60px;
    background: radial-gradient(rgba(217, 0, 129, 0.8) 60%,
            rgba(255, 255, 255, 0.6) 67%);
    border-radius: 50%;
    position     : absolute;
    display      : block;
    box-shadow   : 0px 0px 25px 1px rgba(217, 0, 129, 0.8);
}

/* pulse wave */
.play-btn:before {
    content                          : "";
    position                         : absolute;
    width                            : 150%;
    height                           : 150%;
    -webkit-animation-delay          : 0s;
    animation-delay                  : 0s;
    -webkit-animation                : pulsate1 2s;
    animation                        : pulsate1 2s;
    -webkit-animation-direction      : forwards;
    animation-direction              : forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count        : infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function        : steps;
    opacity                          : 1;
    border-radius                    : 50%;
    border                           : 3px solid rgba(255, 255, 255, 0.75);
    top                              : -25%;
    left                             : -25%;
    background                       : rgba(198, 16, 0, 0);
}

/* triangle */
.play-btn::after {
    content           : "";
    position          : absolute;
    left              : 50%;
    top               : 50%;
    -webkit-transform : translateX(-40%) translateY(-50%);
    transform         : translateX(-40%) translateY(-50%);
    transform-origin  : center center;
    width             : 0;
    height            : 0;
    border-top        : 10px solid transparent;
    border-bottom     : 10px solid transparent;
    border-left       : 18px solid #fff;
    z-index           : 100;
    -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition        : all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

// @-webkit-keyframes pulsate1 {
//     0% {
//         -webkit-transform: scale(0.6);
//         transform        : scale(0.6);
//         opacity          : 1;
//         box-shadow       : inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75),
//             0px 0px 25px 10px rgba(255, 255, 255, 0.75);
//     }

//     100% {
//         -webkit-transform: scale(1);
//         transform        : scale(1);
//         opacity          : 0;
//         box-shadow       : none;
//     }
// }

@keyframes pulsate1 {
    0% {
        -webkit-transform: scale(0.6);
        transform        : scale(0.6);
        opacity          : 1;
        box-shadow       : inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75),
            0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform        : scale(1);
        opacity          : 0;
        box-shadow       : none;
    }
}


