.contact-us {
    font-family: BrandonTextLight;
    padding    : 9px 0px 9px 0px;
    font-weight: 900;
    font-size  : 20px;
}

.pslogofull-img {
    width : 180px;
    height: 74px;
}

.thin-text {
    font-family: BrandonTextLight;
    font-size  : 17px;
}

.footer-text {
    font-size  : 14px;
    line-height: 1.42857143;
    color      : #333;
    text-align : center;
}