<div style="display: flex;flex-wrap: wrap;justify-content: center;">
    <mat-card style="width: 28%;margin-bottom: 15px;margin-right: 10px;" *ngFor="let blog of submittedBlogs">
        <div style="width: 100%;height: 250px;overflow: hidden;">
            <img style="width: 100%;min-height: 100%;" src="{{ blog.coverTitleImage}}">
        </div>
        <div style="height: 10vw;text-overflow: ellipsis;line-height: 25px;">{{ blog.coverTitle}}</div>
        <div style="display: flex;justify-content: center;">
            <button mat-raised-button color="primary">Publish</button>
        </div>
    </mat-card>
</div>