.contact-us {
  font-family: BrandonTextLight;
  padding    : 9px 0px 9px 0px;
  font-weight: 900;
  font-size  : 20px;
  color      : #272727;
}

.pslogofull-img {
  width: 95%;
}

.thin-text {
  font-family: BrandonTextLight;
  font-size  : 17px;
}

.footer-text {
  font-size  : 14px;
  line-height: 1.42857143;
  color      : #333;
  text-align : center;
}