<div class="container-fluid">
    <div class="row d-flex my-4">
        <div class="col-lg-2 col-md-2 my-auto text-center">
            <img src="../../assets/images/desktopimages/pslogofull.png" alt="image" class="pslogofull-img">
        </div>
        <div class="col-lg-2 col-md-2">
            <div class="contact-us">Contact Us</div>
            <div>
                <a href="mailto:contactus@Promsocial.com" class="thin-text">ContactUs@promsocial.com</a>
            </div>
            <div class="contact-us pb-2 pt-4">
                Follow Us
            </div>
            <div>
                <a href="https://www.facebook.com/PromSocial/" target="_blank">
                    <img href="https://www.facebook.com/PromSocial/"
                        src="../../assets/images/desktopimages/facebook.png" alt="Image" />
                </a>
                <a href="https://twitter.com/Prom_social" target="_blank" class="pl-3 pr-3">
                    <img src="../../assets/images/desktopimages/twitter.png" alt="Image" />
                </a>
                <a href="https://www.instagram.com/promsocial/" target="_blank" class="pr-3">
                    <img src="../../assets/images/desktopimages/instagram.png" alt="Image" />
                </a>
                <a href="https://in.pinterest.com/promsocial/" target="_blank">
                    <img src="../../assets/images/desktopimages/pin.png" alt="Image" />
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 pl-5">
            <div class="contact-us"> Featured on AMC </div>
            <div class="row mb-15">
                <div class="col col-sm-10">
                    <a href="https://www.youtube.com/watch?v=WgOVI3PTuQg" target="_blank" class="thin-text">Click Here
                        For More Details</a>
                </div>
            </div>
            <div class="contact-us" style="margin-top: 15px;">Community</div>
            <div class="row mb-15">
                <div class="col col-sm-10">
                    <a href="/promsocialBlogs" target="_blank" class="thin-text">Blogs</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="contact-us">Download App</div>
            <div>
                <a href="https://itunes.apple.com/us/app/promsocial/id1241244463?ls=1&mt=8" target="_blank">
                    <img src="../../assets/images/desktopimages/appstore.png" class="image-responsive my-2"
                        style="height: 55px;">
                </a>
            </div>
            <div>
                <a href="https://play.google.com/store/apps/details?id=com.promsocial.mobile&hl=en" target="_blank">
                    <img src="../../assets/images/desktopimages/googleplay.png" class="image-responsive"
                        style="height: 55px;">
                </a>
            </div>
        </div>
        <div class="col-md-2 col-lg-2 mt-2">
            <p>
                <a href="terms" target="_blank" class="contact-us">Terms of Service</a>
            </p>
            <p>
                <a href="privacyPolicy" target="_blank" class="contact-us">Privacy
                    Policy</a>
            </p>
        </div>
    </div>
    <hr>
    <div class="my-4">
        <div class="footer-text">© 2020 PromSocial. All rights reserved.</div>
    </div>
</div>