<mat-sidenav-container *ngIf="!showView" style="height: 100%;" class="blog-cover-image">
    <mat-sidenav #sidenav mode="side" class="side-menu">
        <div style="text-align: center;width: 220px;" class="mb-4">
            <div><img style="width: 5vw;" src="../../../assets/images/desktopimages/icon.png" alt=""></div>
            <div><img style="width: 12vw;" src="../../../assets/images/desktopimages/logo-text.png" alt=""></div>
        </div>
        <mat-nav-list>
            <a mat-list-item routerLink="home" class="list-item white-anchor card-container"
                style="text-align: center;">Home</a>
            <a mat-list-item routerLink="newBlog" class="list-item white-anchor card-container">New Blog</a>
            <a mat-list-item routerLink="blogs" class="list-item white-anchor card-container">Blogs</a>
            <a mat-list-item routerLink="addStore" class="list-item white-anchor card-container">Add Store</a>
            <a mat-list-item routerLink="stores" class="list-item white-anchor card-container">Stores</a>
            <a mat-list-item routerLink="featureRequest" class="list-item white-anchor card-container">Feature
                Requests</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="padding: 2vmin;">
        <div>
            <button mat-mini-fab color="primary" (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <!-- <button mat-mini-fab color="primary" (click)="showCardsMenu()">
                <mat-icon>menu</mat-icon>
            </button> -->
            <button mat-mini-fab color="primary" class="float-right" [routerLink]="['/login']">
                <mat-icon>logout</mat-icon>
            </button>
            <!-- <div class="float-right d-inline-flex blog-search-input">
                <mat-form-field floatLabel='never'>
                    <input matInput placeholder="Search" value="" autocomplete="off">
                </mat-form-field>
            </div> -->
        </div>
        <div class="mt-2">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>