.side-menu {
    background-image: linear-gradient(to bottom, #2171C4, #4E2759);
}

.list-item {
    width: 220px !important;
    color: #fff;
}

.blog-cover-image {
    background-color: #fafafa;
    // background: linear-gradient(90deg, rgba(255, 171, 27, 0.7), rgba(245, 0, 140, 0.7), rgba(95, 78, 174, 0.7)), url(../../../assets/images/desktopimages/firstscreen.jpg);
    // height    : 280px;
    // background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

.blog-search-input {
    position     : absolute;
    right        : 90px;
    top          : 10px;
    background   : #fff;
    width        : 200px;
    padding      : 0 12px;
    border-radius: 50px;
    box-shadow   : 0 0 3px #d2d2d2;
    z-index      : 5;
    height       : 50px;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
}