<!-- <div>
    <div class="modal-dialog modal-dialog-centered" style="max-width: 700px;">
      <div class="modal-content modal-content-styles">
        <div class="mt-3">
          <img src="../../assets/images/desktopimages/pslogofull.png" alt="image" class="image-responsive mx-auto"
            style="height: 50px;">
        </div>
        <div class=" mx-auto my-4">
          <video controls muted style="height: 95%;width:90%;" id="marketDirectoryVideo">
            <source src="../../assets/videos/market-directory.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
            The autoplay attribute does not work in mobile devices like iPad and iPhone.
          </video>
        </div>
        <div class="mb-3">
          <a type="button" class="btn desktop-button pink-button mx-auto" target="_blank" href="/marketStore">Click here
            to Subscribe</a>
        </div>
      </div>
    </div>
  </div> -->
<div class="market-modal">
  <div mat-dialog-content style="padding: 0;">
    <video controls muted id="marketDirectoryVideo" style="width: 100%; height: -webkit-fill-available;">
      <source src="../../../assets/videos/market-directory.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
      The autoplay attribute does not work in mobile devices like iPad and iPhone.
    </video>
  </div>
  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close class="desktop-button pink-button my-2 mx-auto">
      <a href="/subscription" target="_blank" class="text-white">Click here to Subscribe</a>
    </button>
  </mat-dialog-actions>
</div>