<div class="position-relative mobile-view">
    <div class="video-background">
        <video autoplay muted loop class="video-container">
            <source src="../../assets/images/mobileviewimages/videos/jumping-girl.mp4" type="video/mp4">
        </video>
    </div>
    <div class="logo-over-video">
        <img class="mobile-logo" src="../../assets/images/mobileviewimages/MobileLogo.png" alt="image">
    </div>
    <div class="position-absolute  text-over-video">
        <p class="mobile-large-text">Hey You!</p>
        <p class="mobile-small-text">Welcome to the new way to do Prom.</p>
        <p class="mobile-small-text">Ready to have the best night of your life?</p>
    </div>
    <div class="play-btn mobile-play-btn position-absolute" id="mobilePlaySymbolBtn">
    </div>
    <div class="d-inline-flex position-absolute container justify-content-center" style="bottom: 10px;text-align: center;">
        <a href="#" class="btn mobile-button blue-button">DOWNLOAD APP</a>
        <a href="#" class="btn mobile-button pink-button ml-4">JOIN MARKETPLACE</a>
    </div>
</div>