<div class="container">
  <mat-card class="text-center">
    <mat-card-title class="title-heading">Add Store</mat-card-title>
    <dynamic-form *ngIf="marketStoreData?.length; else noDataForm" formName="storeDetails" [config]="marketStoreData">
    </dynamic-form>
    <div class="w-50 d-flex justify-content-between mx-auto">
      <button type="button" mat-raised-button class="blue-button" matStepperPrevious>Back</button>
      &nbsp;
      <button type="button" matStepperNext mat-raised-button class="pink-button">Next</button>
    </div>
  </mat-card>
</div>

<ng-template #noDataForm>
  <div class="p-4 text-center text-muted">
    <h6>Form not Loaded</h6>
  </div>
</ng-template>