<!-- <div style="text-align: center;">
    <form [formGroup]="contactDetails">
        <div class="example-container">
             <div formGroupName="storeInformation">
               <mat-form-field class="w-50">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Enter your Name" formControlName="name">
                <div *ngIf="form.name.touched && f.name.invalid">
                    <div *ngIf="f.name.errors.required"></div>
                </div>
            </mat-form-field>
            </div>
            <br>
             <div formGroupName="storeInformation">
               <mat-form-field class="w-50">
                <mat-label>Email</mat-label>
                <input matInput placeholder="pat@example.com" formControlName="email">
                <br>
                <div *ngIf="f.email.touched && f.email.invalid">
                    <div *ngIf="f.email.errors.required"></div>
                    <div *ngIf="f.email.errors.email"></div>
                </div>
            </mat-form-field>
            </div>
            <br>
             <div formGroupName="storeInformation">
               <mat-form-field class="w-50">
                <mat-label>Phone</mat-label>
                <input matInput placeholder="pat@example.com" formControlName="phone">
                <div *ngIf="f.phone.touched && f.phone.invalid">
                    <div *ngIf="f.phone.errors.required"></div>
                    <div *ngIf="f.phone.errors.phone"></div>
                </div>
            </mat-form-field>
            </div>
            <br>
        </div>
    </form>
</div> -->
<div id="store-details" style="text-align: center;" [formGroup]="storeForm">
  <!-- <form class="mx-5 mt-5" [formGroup]="storeInformation" (ngSubmit)="onSubmit()"> -->
  <div class="example-container">
    <div formGroupName="storeInformation">
      <mat-form-field class="w-50">
        <mat-label>Store Name</mat-label>
        <input matInput placeholder="Enter Store Name" formControlName="storeName">
        <!-- <div *ngIf="form.storeName.touched && form.storeName.invalid">
          <div *ngIf="form.storeName.errors.required"></div>
        </div> -->
      </mat-form-field>
    </div>
  </div>
  <br>

  <div formGroupName="storeInformation">
    <mat-form-field class="w-50">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Enter Description" formControlName="description"></textarea>
      <!-- <div *ngIf="form.description.touched && form.description.invalid">
        <div *ngIf="form.description.errors.required"></div>
      </div> -->
    </mat-form-field>
  </div>
  <br>

  <!-- <div formGroupName="storeInformation">
    <mat-form-field class="w-50">
      <mat-label>Address</mat-label>
      <input matInput ngx-google-places-autocomplete formControlName="address"
        (onAddressChange)="AddressChange($event)">
      <div *ngIf="form.address.touched && form.address.invalid">
        <div *ngIf="form.address.errors.required"></div>
      </div>
    </mat-form-field>
  </div>
  <br> -->

  <!--  <div formGroupName="storeInformation">
      <mat-form-field class="w-50">
        <mat-label>City</mat-label>
        <input matInput placeholder="Enter City Name" formControlName="city">
        <div *ngIf="form.city.touched && form.city.invalid">
          <div *ngIf="form.city.errors.required"></div>
        </div>
      </mat-form-field>
      </div>
      <br>

       <div formGroupName="storeInformation">
         <mat-form-field class="w-50">
        <mat-label>State</mat-label>
        <input matInput placeholder="Enter State Name" formControlName="state">
        <div *ngIf="form.state.touched && form.state.invalid">
          <div *ngIf="form.state.errors.required"></div>
        </div>
      </mat-form-field>
      </div>
      <br>

       <div formGroupName="storeInformation">
         <mat-form-field class="w-50">
        <mat-label>Country</mat-label>
        <input matInput placeholder="Enter Country Name" formControlName="country">
        <div *ngIf="form.country.touched && form.country.invalid">
          <div *ngIf="form.country.errors.required"></div>
        </div>
      </mat-form-field>
      </div>
      <br> -->

  <!--  <div formGroupName="storeInformation">
      <mat-form-field class="w-50">
        <mat-label>Postal/Zipcode</mat-label>
        <input matInput formControlName="postalZipCode">
        <div *ngIf="form.postalZipCode.touched && form.postalZipCode.invalid">
          <div *ngIf="form.postalZipCode.errors.required"></div>
        </div>
      </mat-form-field>
      </div>
      <br> -->

  <div formGroupName="storeInformation">
    <mat-form-field class="w-50">
      <mat-label>Website</mat-label>
      <input matInput formControlName="website">
      <!-- <div *ngIf="form.website.touched && form.website.invalid">
        <div *ngIf="form.website.errors.required"></div>
      </div> -->
    </mat-form-field>
  </div>
  <br>

  <div formGroupName="storeInformation">
    <mat-form-field class="w-50">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="mobile">
      <!-- <div *ngIf="form.mobile.touched && form.mobile.invalid">
        <div *ngIf="form.mobile.errors.required"></div>
      </div> -->
    </mat-form-field>
  </div>
  <br>

  <div formGroupName="storeInformation">
    <mat-form-field class="w-50">
      <mat-label>Cost Level</mat-label>
      <mat-select formControlName="costLevel" placeholder="Choose">
        <mat-option>-- Select Any --</mat-option>
        <mat-option value="$">$</mat-option>
        <mat-option value="$$">$$</mat-option>
        <mat-option value="$$$">$$$</mat-option>
        <mat-option value="$$$$">$$$$</mat-option>
      </mat-select>
      <!-- <div *ngIf="form.costLevel.invalid&&form.costLevel.touched">
        <small *ngIf="form.costLevel.errors.required"></small>
      </div> -->
    </mat-form-field>
  </div>
  <br />

  <!--  <div formGroupName="storeInformation">
      <mat-form-field class="w-50">
        <mat-label>Gender</mat-label>
        <span *ngFor="let gender of genderValues">
        <mat-checkbox formControlName="gender">Male</mat-checkbox>
        </span>
      </mat-form-field>
      </div>
      <br> -->



  <div formGroupName="storeInformation">
    <mat-form-field class="w-50">
      <mat-label>Store Category</mat-label>
      <mat-select formControlName="storeCategory" placeholder="Choose">
        <mat-option selected disabled value="">Choose...</mat-option>
        <mat-option value="Dresses">Dresses</mat-option>
        <mat-option value="Suits &amp; Tuxedos">Suits & Tuxedos</mat-option>
        <mat-option value="Shoes">Shoes</mat-option>
        <mat-option value="Accessories">Accessories</mat-option>
        <mat-option value="Flowers">Flowers</mat-option>
        <mat-option value="Fragrances">Fragrances</mat-option>
        <mat-option value="Hair">Hair</mat-option>
        <mat-option value="Makeup">Makeup</mat-option>
        <mat-option value="Nails">Nails</mat-option>
        <mat-option value="Jewellery">Jewellery</mat-option>
        <mat-option value="Skincare">Skin care</mat-option>
        <mat-option value="Tanning">Tanning</mat-option>
        <mat-option value="Hair Removal">Hair Removal</mat-option>
        <mat-option value="Teeth Whitening">Teeth Whitening</mat-option>
        <mat-option value="Limos">Limos</mat-option>
        <mat-option value="Cars">Cars</mat-option>
        <mat-option value="Party Buses">Party Buses</mat-option>
        <mat-option value="After Parties">After Parties</mat-option>
        <mat-option value="Themes">Themes</mat-option>
        <mat-option value="Photography">Photography</mat-option>
      </mat-select>
      <!-- <div *ngIf="form.storeCategory.invalid&&form.storeCategory.touched">
        <small *ngIf="form.storeCategory.errors.required"></small>
      </div> -->
    </mat-form-field>
  </div>
  <br />

  <div formGroupName="storeInformation">
    <mat-form-field class="w-50">
      <mat-label>Store timings (Ex: 10am to 12pm)</mat-label>
      <input matInput formControlName="storeTimings">
      <!-- <div *ngIf="form.storeTimings.touched && form.storeTimings.invalid">
        <div *ngIf="form.storeTimings.errors.required"></div>
      </div> -->
    </mat-form-field>
  </div>
  <br>

  <div formGroupName="storeInformation">
    <mat-form-field class="w-50">
      <mat-label>Tags (Ex: Suits,Tuxedos,Shoes)</mat-label>
      <input matInput formControlName="tags">
      <!-- <div *ngIf="form.tags.touched && form.tags.invalid">
        <div *ngIf="form.tags.errors.required"></div>
      </div> -->
    </mat-form-field>
  </div>
  <br>

  <div formGroupName="storeInformation">
    <mat-form-field class="w-50">
      <mat-label>Discount Code</mat-label>
      <input matInput formControlName="discountCode">
      <!-- <div *ngIf="form.discountCode.touched && form.discountCode.invalid">
        <div *ngIf="form.discountCode.errors.required"></div>
      </div> -->
    </mat-form-field>
  </div>
  <br>

  <div formGroupName="storeInformation">
    <mat-form-field class="w-50">
      <mat-label>Discount Description</mat-label>
      <input matInput formControlName="discountDescription">
      <!-- <div *ngIf="form.discountDescription.touched && form.discountDescription.invalid">
        <div *ngIf="form.discountDescription.errors.required"></div>
      </div> -->
    </mat-form-field>
  </div>
  <br>

  <!-- <div class="form-group">
        <label class="mb-2">Store Logo</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" (change)="showStoreLogo($event)" formControlName="storeLogo">
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
        <img *ngIf="logourlEnabled" [src]="logoUrl"
          style="height: 150px;width: 150px;object-fit: contain;margin-top: 10px;">
        <div *ngIf="storeInformationForm.storeLogo.invalid&&storeInformationForm.storeLogo.touched">
          <small *ngIf="storeInformationForm.storeLogo.errors.required" class="text-primary">Please Fill Out
            this
            Field.</small>
        </div>
      </div> -->

  <!-- <div class="form-group">
        <label class="mb-2">Store Gallery</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" multiple formControlName="storeGallery"
            (change)="showStoreGallery($event)">
          <label class="custom-file-label" for="customFile">Choose files</label>
        </div>
        <div class="d-flex justify-content-start">
          <img *ngFor="let url of urls" [src]="url"
            style="height: 150px;width: 150px;object-fit: contain;margin-top: 10px;margin-left: 5px;">
        </div>
        <div *ngIf="storeInformationForm.storeGallery.invalid&&storeInformationForm.storeGallery.touched">
          <small *ngIf="storeInformationForm.storeGallery.errors.required" class="text-primary">Please Fill
            Out this
            Field.</small>
        </div>
      </div> -->
  <button type="button" matStepperPrevious>Back</button>
  &nbsp;
  <button type="button" matStepperNext (click)="step2Submitted()">Next</button>
  <!-- <div>
      <button class="btn blue-button desktop-button mt-3" style="width: 100px;height: 40px;float: left;"
        routerLink="/contactDetails">Previous</button>
      <button class="btn pink-button desktop-button mt-3" style="width: 100px;height: 40px;float: right;"
        [disabled]="!storeInformation.valid" (click)="goToPreview()">Preview</button>
    </div> -->
</div>
<!-- </form> -->