<div style="height: 100vh;overflow: auto;">
    <div class="container">
        <div class="col-sm-12">
            <div class="text-center heading">
                Privacy Policy
            </div>
            <p>Effective May 27, 2016.</p>

            <h4>A. About Us:</h4>
            <p>
                Welcome to promsocial.com (the
                <q>Website</q>). PromSocial, LLC (
                <q>Promsocial</q>,
                <q>us</q>,
                <q>we</q>, or
                <q>our</q>) provides information resources related to everything prom. We do this through the Website,
                our
                mobile
                application, the Content, and the products and services otherwise made available by us (together with
                the
                Website, and Content, and other products and services we offer via the Website, collectively, the
                <q>Services</q>). By accessing or using our Services, you expressly agree to the provisions of and the
                data
                practices reflected in this Privacy Policy (our
                <q>Policy</q>), our Terms of Service, and any other policy we may develop from time to time
                (collectively,
                <q>Policies</q>), which create legal and enforceable agreements. If you do not agree to the practices
                described
                below in this Policy, do not browse our Website or use our Services, as your continued use of our
                Services
                indicates that you are agreeing to the collection, use, disclosure, management and storage of your
                Personal
                Data and other information as described in this Policy.
            </p>

            <h4>B. Privacy Policy:</h4>
            <p>
                Please read this Policy as it includes important information regarding your Personal Data and other
                information. Capitalized
                terms not defined in this Policy shall have the meanings given to such terms in our Terms of Service. If
                you have any questions or concerns, please do not hesitate to contact us at:
                <a href="mailto:contactus@promsocial.com"> contactus@promsocial.com
                </a>.
            </p>

            <h5>1. Information We Collect.</h5>
            <p>
                (a) Personal Data. Personal Data and other information are collected from you when you create an Account
                with us or when
                you otherwise disclose Personal Data or other information to us or third parties when using the
                Services.
                <q>Personal Data</q> means any information that may be used to identify an individual. Personal Data
                does
                not
                include aggregate information. To use certain aspects of our Services you may be asked to provide us the
                following information: your name, email address, gender, date of birth, high school class year,
                telephone
                number, and related information.
            </p>
            <p>
                (b) Location Data. We and third parties with whom we may partner may collect location information in
                relation to a User's
                Device and use of the Services (
                <q>Location Data</q>) with respect to you. If you use the Services, then you are providing consent to
                collect
                Location Data such as the physical location of your Device which will be used to provide you with
                certain
                features of the Services. This Location Data is collected anonymously in a form that does not personally
                identify you. Location Data is aggregated with data from Devices of other Users to enhance the quality
                of
                Content Users provide to us and to enhance the quality of the Services we provide to you. We may also
                share
                your Location data with third parties. Location Data is shared anonymously in a form that would not
                personally
                identify you.
            </p>

            <p>
                (c) Use Data. When you send or receive Content using our Services, we collect data about that Content.
            </p>

            <p>
                (d) Log Information. When you browse our Services, you do so anonymously, unless you have previously
                created
                an Account with
                us. However, we may log your IP address to give us an idea of which part of our Services you visit and
                how
                long you spend there. However, we do not link your IP address to any Personal Data unless you have
                logged
                into our Services. Also, our Services may use a standard technology called a 'cookie' to collect
                information
                about how you interact with our Services. Please see Section 7 below for more information.
            </p>

            <p>
                (e) Ad Data. The Website may use 'Google AdSense' by Google, Inc. (
                <q>Google</q>) to integrate advertisements on the Services. Google AdSense uses 'cookies' and 'web
                beacons'.
                If this Website uses 'Google AdSense', then information about the use of this Website (including your IP
                address) and the delivery of advertising formats generated by cookies and web beacons will be processed
                to
                a server of Google in the United States and will be saved there. This information may be processed to
                contractual
                partners of Google by Google. Google will not associate your IP address with any other Google data.
                Through
                the use of this Website, you express your consent to the processing of data collected by Google about
                you
                in the manner and for the purposes described in this Policy and in Google's partner data policy here:
                <a
                    href="http://www.google.com/policies/privacy/partners/">http://www.google.com/policies/privacy/partners/</a>.
            </p>

            <p>
                (f) Aggregate Data. Certain aspects of our Services are set up to collect and report aggregate
                information.
                Aggregate information
                is data we collect about the use of the Services or about a group or category of products, services or
                Users,
                from which individual identities or other Personal Data has been removed. In other words, information
                about
                how you use the Services may be collected and combined with information about how others use the
                Services.
                Aggregate data helps us understand trends and User's needs so that we can better consider new features
                or
                otherwise tailor our Services. This Policy does not restrict what we can do with aggregate information.
            </p>

            <p>
                (g) Analytics. We may use third party analytics tools to collect information about use of our Services.
                Analytics tools collect
                information such as how often Users visit our Website, what pages Users visit when Users visit our
                Website,
                and the other websites they accessed prior to accessing our Website. We use the information we gather
                from
                analytics to improve our Services. Analytics tools collect information such as the IP address assigned
                to
                you on the date you visit our Website, but does not collect Personal Data. We do not combine the
                information
                collected through the use of analytics with Personal Data. Although our analytics tools may plant a
                cookie
                on your web browser to identify you as a unique User the next time you visit our Website, the cookie
                cannot
                be used by anyone but our analytics tools. In the event that we use Google's 'Google Analytics', then
                Google's
                ability to use and share information collected by 'Google Analytics' about your visits to our Website is
                restricted by the Google Analytics Terms of Use here:
                <a href="http://www.google.com/analytics/tos.html">http://www.google.com/analytics/tos.html </a>and the
                Google Privacy Policy here:
                <a href="http://www.google.com/privacypolicy.html">http://www.google.com/privacypolicy.html.</a> You can
                prevent Google Analytics from using your data by downloading
                the Google Analytics Opt-out Browser that is available from Google here:
                <a href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a>, but if
                you
                do so, certain features of our Services may become
                unavailable. See Section 7 below for more information.
            </p>

            <p>
                (h) Device Information. We may collect data about the computer or Device you use to access our Services,
                including the hardware
                model, operating system and version, MAC address, unique device identifier ('UDI'), phone number, and
                mobile
                carrier information.
            </p>

            <p>
                (i) Tracking Technologies. We collect information through technology, such as cookies, flash cookies and
                web
                beacons, including
                when you visit our Services or Linked Sites. Please see Section 7 below for further information
                regarding
                tracking technologies.
            </p>

            <p>
                (j) From Third Parties. We acquire information from other trusted sources to update or supplement the
                information you provided
                or we collected automatically. Local law may require that you authorize the third party to share your
                information
                with us before we can acquire it.
            </p>

            <h5>2. How We Use It.</h5>

            <p>We use your Personal Data to:</p>

            <p>
                (a) enable us to provide the Services to you; (b) notify you regarding Services, your Account, or fees;
                (c)
                increase the
                usability of the Services; (d) provide information about promotional offers; (e) deliver ads on our
                Services
                and on the websites of advertising partners, to improve and monitor our advertising, and to provide you
                with
                targeted ads; (f) investigate objectionable use of the Services; (g) respond to requests for assistance
                from
                our customer support team; (h) analyze trends and use of our Services; (i) analyze the Personal Data and
                other Content provided by Users; and (j) carry on our business, as determined by us.
            </p>

            <h5>3. Who We Share It With.</h5>

            <p>
                We will share Personal Data with third parties when:
                <br>
                <br> (a) When you have enabled us to share your Personal Data with another company or our Affiliates by
                using
                the Services. Once we share your Personal Data with another company, the information received by the
                other
                company becomes subject to the other company's privacy practices.
                <br> (b) When necessary, as determined by us in our sole discretion, to provide Services to you. This
                includes
                for the uses listed in Section 2 above.
                <br>
                <br> (c) When required by law or by court order.
                <br>
                <br> (d) To protect our rights and property, to prevent fraudulent activity or other deceptive practices
                of
                Users
                or third parties, or to prevent harm to others.
                <br>
                <br> (e) If we are acquired by or merged with another company, or if our assets are sold to another
                company.
                In all of these circumstances, you understand and agree that our Terms of Service and this Privacy
                Policy
                will be assigned and delegated to the other company.
                <br>
                <br> (f) To perform tasks for us or in connection with our business, as determined by us. We may use
                third
                parties
                to help operate the Services and perform other aspects of the Services. You agree we may share your
                Personal
                Data with our Affiliates and other third parties that provide services to us in connection with our
                business
                (such as website or database hosting companies, address list hosting companies, email service providers,
                analytics companies, distribution companies, and other similar service providers that use such
                information
                on our behalf). Unless otherwise stated, these third parties do not have any right to use the Personal
                Data
                we provide to them beyond what is necessary for them to assist us, as determined by us.
            </p>

            <h5>4. Your Choices.</h5>

            <p>
                (a) Any Content that you Transmit to a public portion of our Website may be searchable by other Users
                and
                third parties as
                well as subject to use by others. Once you have made Content viewable to others, that Content may be
                re-shared
                by others and we have no control or liability regarding how others may use the Content you Transmit. We
                make
                every effort to prevent undesired disclosure of Content or Personal Data. However, we are not
                responsible
                for how others may use Content or Personal Data that is disclosed by you to Users or third parties using
                the Services.
                <br>
                <br> (b) The Services may allow you to share Content on Social Media Profiles. If you use such
                functionality
                of the Services, then you should use caution when determining to whom you want to make Content
                available.
                If you choose to Transmit Content on third party Social Media Profiles, then, depending on the privacy
                settings
                of your Social Media Profiles, it is possible that persons in addition to those to whom you intended to
                view
                that Content could have access to that information. Accordingly, you should use caution when sharing
                Content
                via third party Social Media Profiles and you should carefully review the privacy practices of such
                Social
                Media Profiles.
                <br>
                <br> (c) If you remove information, Personal Data, or Content that you Transmit to the Services, copies
                may
                remain
                viewable in cached and archived pages of the Services, or if other Users or third parties copied or
                saved
                that information.
                <br>
                <br> (d) You may opt out of targeted advertisements from some third party companies by visiting the
                Network
                Advertising
                Initiative or Digital Advertising Alliance Consumer Choice Page, which provide simple ways to opt out of
                ad targeting from participating third party companies. When you opt out, your selection will be stored
                in
                a cookie that is specific to your Device or computer and the web browser you are using. The opt out
                cookie
                has an expiration date of five years. If you delete the cookies on your computer or Device, you will
                need
                to opt out again.
                <br>
                <br> (e) We will contact you from time to time for marketing purposes. Unless you have opted out, this
                could
                include contacting you by phone or email. You may opt-out of receiving marketing communications from us
                by
                the following means:
                <br> (i) contacting us at
                <a href="mailto:contactus@promsocial.com">contactus@promsocial.com;</a> or
                <br> (ii) following the instructions in the communication.
            </p>

            <h5>5. Security of Your Personal Information.</h5>

            <p>
                We exercise care and prudence in protecting the security of Personal Data provided to us. We make
                efforts to
                protect your
                data from loss, misuse, unauthorized access or disclosure, alteration, or destruction. Personal Data is
                stored
                in password-controlled servers with limited access. However, you have a significant role in Account
                security.
                Someone may see or edit your Personal Data if that person gains access to your username and password, so
                do not share these with others. WE TAKE THESE PRECAUTIONS IN AN EFFORT TO PROTECT YOUR INFORMATION
                AGAINST
                SECURITY BREACHES. HOWEVER, THIS IS NOT A GUARANTEE THAT SUCH INFORMATION MAY NOT BE ACCESSED,
                DISCLOSED,
                ALTERED, OR DESTROYED BY BREACH OF SUCH FIREWALLS AND SECURE SERVER SOFTWARE. BY USING THE WEBSITE, YOU
                ACKNOWLEDGE
                THAT YOU UNDERSTAND AND AGREE TO ASSUME THESE RISKS.
            </p>

            <h5>6. Your Account.</h5>

            <p>
                Users may review and update Personal Data by logging into their Account. To protect your privacy and
                security, we will also
                take reasonable steps to verify your identity, such as password and username, before granting access to
                any
                Personal Data. If your Account is terminated by you or us, we will remove your name and other Personal
                Data
                from our publicly viewable database. If you close your Account, we have no obligation to retain your
                information,
                and may delete any or all of your Account information without liability. However, we may retain Content
                related
                to you for any reason or no reason, as determined by us. We may also retain and use your Content if
                necessary
                to provide Services to other Users. We disclaim any liability in relation to the deletion or retention
                (subject
                to this Agreement of this Policy) of Content or any obligation not to delete the Content.
            </p>

            <h5>7. Tracking Technology.</h5>

            <p>
                (a) Generally. We and other third parties with whom we may partner may use cookies, clear .gifs and
                .pngs
                (also known as
                'web beacons'), or local shared objects (sometimes called 'flash cookies') to help personalize the
                Services.
                A cookie is a text file that is placed on your computer or other device by a server. Cookies cannot be
                used
                to run programs or deliver viruses to your computer or other device. Cookies are uniquely assigned to
                you,
                and can only be read by the server that issued the cookie to you. A web beacon is typically a
                transparent
                .gif or .pngs graphic image (usually 1 pixel by 1 pixel in size) that is used in conjunction with the
                Services,
                which allows us or third parties with whom we may partner to measure the actions of Users who interact
                with
                the portion of the Services that contain the web beacons. You have the ability to accept or decline
                cookies
                and web beacons may be unusable if you elect to reject cookies. Most web browsers automatically accept
                cookies,
                but you can usually modify the settings to decline cookies if you prefer. If you choose to decline
                cookies,
                you may not be able to fully experience the interactive features of the Services.
                <br>
                <br> (b) Use. We and other third parties use web beacons to measure traffic and related browsing
                behavior,
                and
                to improve your experience when using the Services. We and other third parties may also use customized
                links
                or other similar technologies to track hyperlinks that you click, and associate that information with
                your
                Personal Data in order to provide you with more focused communications. Even if you do not have an
                Account
                of if you are logged out of your Account, we still use cookies. We use cookies when you log out of your
                account
                to do things such as: (i) identify and disable the Accounts of Users who violate our Terms of Service,
                (ii)
                help you recover your Account, (iii) provide security features, (iv) restrict access to the Services to
                individuals
                who provide false information when signing up for an Account, (v) provide us with information about the
                ads
                we and our Affiliates make available on the Services, and to (vi) gather an understanding about our
                Users.
                If you do not have an Account, we use cookies to protect us from malicious activity (e.g. flooding, mass
                creation of fraudulent Accounts, and the like).
                <br>
                <br> (c) Do Not Track. Our Services currently do not recognize 'Do Not Track' requests and any such web
                browser
                feature will be inoperable with respect to our Services. You understand and agree that we shall not be
                liable
                for and you expressly release, indemnify, hold harmless, and defend us from any claims you may have
                related
                to our inability to honor a 'Do Not Track' request.
            </p>

            <h5>8. Compliance with the Children's Online Privacy Protection Act.</h5>

            <p>
                We recognize the need to provide further privacy protections with respect to Personal Data we may
                collect
                from Children who
                use our Services. For that reason, we make every effort to comply with the regulations of the Children's
                Online Privacy Protection Act of 1998 (15 U.S.C. ยง 6501 - 6506). We never collect or maintain Personal
                Data
                through the Services from those we actually know are under thirteen years of age, and no part of the
                Services
                are structured to attract anyone under thirteen years of age. We expressly disclaim, and you expressly
                release
                us from, any and all liability whatsoever for any controversies, claims, suits, injuries, harm, loss,
                penalties,
                damages, arising from and/or in any way related to any misrepresentations regarding the age of any User.
                We reserve the right to suspend and/or terminate with or without notice the Account of User who we
                believe
                has provided false information when registering for and/or using the Services and each User agrees to
                make
                no further use of the Services after termination and/or during suspension.
            </p>

            <h5>9. Linked Sites.</h5>

            <p>
                The Services and/or third parties may provide links to Linked Sites and data provided by third parties.
                We
                are a participant
                in the Amazon Services LLC Associates Program, which is an advertising program designed to provide a
                means
                for us to earn compensation. The Services may include the websites of Amazon.com, Inc. and websites of
                Amazon.com,
                Inc.'s affiliates as a Linked Site for which we may receive a referral commission. Our first priority is
                always to help you create positive changes in your life. However, we are not responsible for the privacy
                practices employed by Linked Sites, nor are we responsible for the information or materials that third
                party
                data contains. This Policy applies solely to information collected by us through the Services. When you
                use
                a link to go from the Services to a Linked Site, this Policy is no longer in effect. We encourage Users
                to
                read the privacy policies of Linked Sites before proceeding to use them. When you conduct e-commerce
                with
                a Linked Site, certain Personal Data may be collected by the Linked Site and made available to us.
            </p>

            <h5>10. Advertisement Revenue.</h5>

            <p>
                The Services may display advertisements operated by us, our Affiliates, and/or third parties. Some of
                the
                advertisements
                we display are targeted to you based on your online behavior and your click habits and we may receive
                compensation
                based on your clicks.
            </p>

            <h5>11. California Privacy Rights.</h5>

            <p>
                Under California Civil Code Section 1798.83, known as the
                <q>Shine the Light</q> law, a California resident who has provided Personal Data to a business with whom
                he/she
                has established a business relationship for personal, family, or household purposes (
                <q>California User</q>) is entitled to request information about whether the business has disclosed
                Personal
                Data to any third parties for the third parties' direct marketing purposes. In general, if the business
                has
                made such a disclosure of Personal Data, upon receipt of a request by a California User, the business is
                required to provide a list of all third parties to whom Personal Data was disclosed in the preceding
                calendar
                year, as well as a list of the categories of Personal Data that were disclosed. However, a business is
                not
                required to provide the above-described lists if the business adopts and discloses to the public (in its
                Privacy Policy) a policy of not disclosing customer's Personal Data to third parties for their direct
                marketing
                purposes unless the customer first affirmatively agrees to the disclosure or gives customers a mechanism
                to opt out of having their Personal Data disclosed to third parties for their direct marketing purposes.
                Rather, the business may comply with the law by notifying the customer of his or her right to prevent
                disclosure
                of Personal Data and providing a cost free means to exercise the right. We have opted for this
                alternative
                approach. As stated in this Policy, we give customers a mechanism to opt out of having their Personal
                Data
                disclosed to third parties for their direct marketing purposes. Therefore, we are not required to
                maintain
                or disclose a list of third parties that received your Personal Data for marketing purposes. If you wish
                to opt-out of sharing your Personal Information with third parties for their direct marketing purposes,
                please
                email us at
                <a href="mailto:contactus@promsocial.com">contactus@promsocial.com </a> and mark your request
                <q>Re: Opt-out.</q> California Users may request further information about our approach to this law by
                writing
                to us at 2 Buttonwood Drive, Old Bridge, NJ 08857 or by email at
                <a href="mailto:contactus@promsocial.com">contactus@promsocial.com </a> and requesting further
                information.
            </p>

            <h5>12. Changes to our Policy; Miscellaneous.</h5>

            <p>
                We reserve the right to change this Policy, our Terms of Service, and our other Polices at any time. We
                will
                notify you about
                changes to this Policy by placing the updated Policy on the Services. You agree that your use of the
                Services
                after such notification will constitute acceptance by you of such changes to our Policy. This Policy is
                governed
                by the laws of the State of New Jersey. This Policy is and any disputes in connection with this Policy
                are
                subject to our Terms of Service and our other Policies which are each hereby incorporated herein by
                reference.
                In the event of any conflict between the provisions of this Policy and our Terms of Service, our Terms
                of
                Service shall control and the remaining provisions this Policy shall be supplemental.
            </p>
            <h5>13. Feedback.</h5>

            <p class="bottom-message">
                We value your comments and opinions. If you have questions, comments or a complaint about compliance
                with
                this Policy, you
                may send a written notice to us at:
                <a href="mailto:contactus@promsocial.com"> contactus@dfgfd.com.</a>
            </p>

        </div>
    </div>
</div>