.heading {
    font-size: 35px;
    font-family: GothamMedium;
    line-height: 70px;
}

h4, h5, h6, p, address {
    font-family: GothamBookRegular;
}
p {
    font-size: 14px;
    text-align: justify;
}

h5, h6 {
    font-size: 15px;
    font-weight: 600;
}
h4 {
    font-size: 17px;
    font-weight: 600;
    line-height: 27px;
}