<div class="store-forms-container">
  <div class="container pt-5">
    <mat-card class="mb-5">
      <mat-card-header>
        <div class="text-center">
          <img class="logo" src="../../../assets/images/desktopimages/pslogofull.png">
        </div>
      </mat-card-header>
      <div id="marketstoreRegistrationForm">
        <mat-card-content>
          <mat-horizontal-stepper linear #stepper>
            <mat-step [stepControl]="appService.getDynamicForm('contactDetails')">
              <ng-template matStepLabel>Contact Details</ng-template>
              <app-contact-details>
              </app-contact-details>
            </mat-step>
            <mat-step [stepControl]="appService.getDynamicForm('storeDetails')">
              <ng-template matStepLabel>Store Details</ng-template>
              <app-store-details></app-store-details>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Preview</ng-template>
              <app-store-details-preview [previewData]="appService.getDynamicForm('storeDetails')">
              </app-store-details-preview>
            </mat-step>
          </mat-horizontal-stepper>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>