.company-logo {
    opacity               : 1;
    display               : block;
    transition            : .5s ease;
    backface-visibility   : hidden;
    background-size       : cover;
    background-repeat     : no-repeat;
    background-position   : center;
    height                : 15vh;
    width                 : 8vw;
    // border-radius      : 50%;
}

.client-image-container {
    position        : relative;
    width           : 8vw;
    height          : 15vh;
    margin          : auto;
    background-color: antiquewhite;
}

.camera-icon-layer {
    transition   : .5s ease;
    opacity      : 1;
    position     : absolute;
    top          : 50%;
    left         : 50%;
    transform    : translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align   : center;
    cursor       : pointer;
}

.client-image-container:hover .camera-icon-layer {
    opacity: 1;
    cursor : pointer;
}

.camera-icon {
    font-size: 25px;
    color    : #6c757d;
    cursor   : pointer;
}

.camera-input {
    opacity : 0;
    position: absolute;
    z-index : 0;
    width   : 50px;
    height  : 50px;
    top     : -5px;
    left    : -11px;
    cursor  : pointer;
}