<!-- <mat-carousel timings="250ms ease-in" [autoplay]="true" interval="1000" color="accent" maxWidth="auto" proportion="25"
    slides="5" [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true" [useMouseWheel]="false"
    orientation="ltr">
    <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image"
        overlayColor="#00000040" [hideOverlay]="false"></mat-carousel-slide>
</mat-carousel> -->

<!-- <app-desktop-preview></app-desktop-preview> -->

<mat-card style="height: 100vh;overflow: auto;">
    <mat-card-content>
        <!-- <div>
            <div>
                <img class="fit-image cover-title-image mb-25" src="{{previewData.coverTitleImage}}">
            </div>
            <div class="preview-title mb-25">{{previewData.coverTitle}}</div>
        </div>
        <div class="mb-25">
            <div class="text-center">
                <img alt="" class="fit-image cover-image" src="{{previewData.coverImage}}">
            </div>
            <div class="caption">{{previewData.coverImageCaption}}</div>
        </div>
        <div>
            <div>{{previewData.coverVideo}}</div>
            <div class="caption">{{previewData.coverVideoCaption}}</div>
        </div>
        <div class="mb-25 text-center">
            <div>
                <a href="{{previewData.link.startsWith('http') ? previewData.link : 'https://'+previewData.link}}"
                    target="_blank">
                    {{previewData.link}}
                </a>
            </div>
            <div class="caption">{{previewData.linkCaption}}</div>
        </div> -->
        <div>
            <div>
                <img class="fit-image cover-title-image mb-25" src="../../../assets/images/exampleimages/flowers.jpg">
            </div>
            <div class="preview-title mb-25">The Best Makeup looks from Spring 2019</div>
            <div class="mb-25 preview-text">
                <!-- {{item.text}} -->
                <div>It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here, content here', making it look like
                    readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                    default model text, and a search for 'lorem ipsum' will uncover many web sites still in their
                    infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose
                    (injected humour and the like).</div>
            </div>
            <div class="mb-25 preview-subtitle">
                <!-- {{item.subTitle}} -->
                <div>
                    Five things to Check
                </div>
            </div>
            <div class="mb-25 preview-text">
                <!-- {{item.text}} -->
                <div>It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here, content here', making it look like
                    readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                    default model text, and a search for 'lorem ipsum' will uncover many web sites still in their
                    infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose
                    (injected humour and the like).</div>
            </div>
            <div class="mb-25">
                <div class="text-center">
                    <img class="fit-image cover-image" src="../../../assets/images/exampleimages/newsfeedfour.png">
                </div>
                <div class="caption" style="opacity: 0.6;">Be Beautiful</div>
            </div>
            <!-- <div class="mb-25">
                <div class="preview-video">
                    <video src="../../../assets/videos/market-directory.mp4"></video>
                </div>
                <div class="caption" style="opacity: 0.6;">Market Directory</div>
            </div> -->
            <div class="text-center mb-25">
                <div>
                    <a href="www.promsocial.com" target="_blank">www.promsocial.com</a>
                </div>
                <div class="caption" style="opacity: 0.6;">Watch something amazing</div>
            </div>
            <div class="mb-25 preview-text">
                <!-- {{item.text}} -->
                <div>It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here, content here', making it look like
                    readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                    default model text, and a search for 'lorem ipsum' will uncover many web sites still in their
                    infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose
                    (injected humour and the like).</div>
            </div>
            <div class="preview-specific-text mb-25">
                <hr>
                many variations of passages of Lorem Ipsum available
                <hr>
            </div>
        </div>
    </mat-card-content>
</mat-card>