.mb-25 {
    margin-bottom: 1.7rem;
}

.preview-title {
    font-family: GothamMedium;
    font-size  : 2rem;
    line-height: 2rem;
    text-align : center;
    font-weight: bold;
}

.fit-image {
    object-fit     : cover;
    object-position: center;
}

.cover-title-image {
    height: 30vmax;
    width : 100%;

}

.cover-image {
    height: 25rem;
    width : 50%;
}

.caption {
    font-family: Avenir-Book;
    font-size  : 1.125rem;
    text-align : center;
    margin-top : 10px;
}

.preview-text {
    font-family: Avenir-Book;
    font-size  : 1.125rem;
}

.preview-subtitle {
    font-family: BrandonTextThin;
    font-size  : 1.4375rem;
    line-height: 1.875rem;
    text-align : left;
}

.preview-video {
    width     : 100%;
    text-align: center;
}

.preview-specific-text {
    font-family   : GothamMedium;
    font-size     : 0.5625rem;
    line-height   : 0.9375rem;
    letter-spacing: 0.0875rem;
    text-transform: uppercase;
    opacity       : 0.8;
    text-align    : center;
}