<!-- <div class="container-fluid" style="justify-content: end !important;align-items: end !important;">
    <div class="row">
        <div class="col-sm-1">
            <mat-icon aria-hidden="false" aria-label="Example home icon"
                style="margin-top: 2vh;color:black;font-size: 1.5rem;cursor: pointer;" mat-button mat-dialog-close>close
            </mat-icon>
        </div>
        <div class="col-xs-12 col-sm-3 offset-sm-8 move-right-animation pt-3 pb-3 pl-5 text-center">
            <img src="../../../assets/images/desktopimages/pslogofull.png" alt="Image" style="width: 12vw;" />
        </div>
    </div>
    <mat-divider></mat-divider>
    <div style="text-align: center;margin-top: 3vh;">
        <div class="row justify-content-center">
            <div class="col-sm">
                <div>
                    <h2>COMMUNITY</h2>
                    <br>
                    <a href="/promsocialBlogs" target="_blank">

                        <h4 style="font-style: italic;font-size: 25px;">Blog</h4>
                    </a>
                    <a href="/promsocialBlogs" target="_blank">
                        <h4 style=" font-style: italic;font-size: 25px;">Press</h4>
                    </a>
                   
                </div>
            </div>

            <div class="col-sm">

                <h2>DOWNLOAD APP</h2>
                <br>
                <div>
                    <a href="https://itunes.apple.com/us/app/promsocial/id1241244463?ls=1&mt=8" target="_blank">
                        <img src="../../assets/images/desktopimages/appstore.png" class="image-responsive my-2"
                            style="height: 35px;">
                    </a>
                </div>
                <div>
                    <a href="https://play.google.com/store/apps/details?id=com.promsocial.mobile&hl=en" target="_blank">
                        <img src="../../assets/images/desktopimages/googleplay.png" class="image-responsive"
                            style="height: 35px;">
                    </a>
                </div>
            </div>
            <div class="col-sm">
                <h2>FOLLOW US</h2>
                <br>
                <div>
                    <a href="https://www.facebook.com/PromSocial/" target="_blank">
                        <img href="https://www.facebook.com/PromSocial/"
                            src="../../assets/images/desktopimages/facebook.png" alt="Image" />
                    </a>
                    <a href="https://twitter.com/Prom_social" target="_blank" class="pl-3 pr-3">
                        <img src="../../assets/images/desktopimages/twitter.png" alt="Image" />
                    </a>
                    <a href="https://www.instagram.com/promsocial/" target="_blank" class="pr-3">
                        <img src="../../assets/images/desktopimages/instagram.png" alt="Image" />
                    </a>
                    <a href="https://in.pinterest.com/promsocial/" target="_blank">
                        <img src="../../assets/images/desktopimages/pin.png" alt="Image" />
                    </a>
                </div>
            </div>

        </div>
    </div>

</div> -->
<mat-icon aria-hidden="false" aria-label="Example home icon"
    style="margin-top: 2vh;color:black;font-size: 1.5rem;cursor: pointer;" mat-button mat-dialog-close>close
</mat-icon>
<app-footer></app-footer>