<div class="container" style="color: black;font-family: 'Avenir-Book';overflow-y: hidden;">
    <!-- <div class="row mb-4">
        <img class="mx-auto p-3" src="../../assets/images/desktopimages/pslogofull.png" alt="image" style="width: 25%;">
    </div> -->
    <div class="mx-auto col-xs-12 col-sm-12"
        style="max-width: 700px;overflow: hidden;background-color: #f5f5f5;box-shadow: 0px 0px 7px #d2d2d2;">

        <div class="mx-auto preview-container">
            <mat-card>
                <div class="position-relative">
                    <div>
                        <mat-carousel timings="250ms ease-in" [autoplay]="true" interval="3000" [loop]="true"
                            [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true" [useMouseWheel]="false"
                            orientation="ltr">
                            <mat-carousel-slide #matCarouselSlide
                                *ngFor="let selectedImage of previewData?.value?.storeMultipleImages; let i = index"
                                overlayColor="#00000040" [hideOverlay]="true">
                                <div>
                                    <img src="{{selectedImage.src}}" />
                                </div>
                            </mat-carousel-slide>
                        </mat-carousel>
                    </div>
                    <img class="icon-image" src="{{previewData?.value?.storeIcon}}" />
                </div>
                <div class="text-center mx-auto text-break preview-title">
                    <!-- <b>{{storeInformationPreview.storeName}}</b> -->
                    <!-- <b>{{storeForm.get('storeInformation').get('storeName').value}}</b> -->
                    {{previewData?.value?.storeName}}
                    <!-- {{previewData?.value?.storeMultipleImages?.length}} -->
                </div>
                <div class="rating-star-container text-center">
                    <div style="display:inline-block;">
                        <img src="../../../assets/images/desktopimages/stargrey.svg">
                    </div>
                    <div style="display:inline-block;">
                        <img src="../../../assets/images/desktopimages/stargrey.svg">
                    </div>
                    <div style="display:inline-block;">
                        <img src="../../../assets/images/desktopimages/stargrey.svg">
                    </div>
                    <div style="display:inline-block;">
                        <img src="../../../assets/images/desktopimages/stargrey.svg">
                    </div>
                    <div style="display:inline-block;">
                        <img src="../../../assets/images/desktopimages/starwhite.svg">
                    </div>
                </div>
                <!-- <div class="p-3 text-center text-break" style="text-transform: uppercase;">
                    {{previewData?.storeName}}
                </div> -->
                <div class="p-3 text-center text-break" style="text-transform: uppercase;">
                    <!-- {{storeInformationPreview.description}} -->
                    <!-- {{storeForm.get('storeInformation').get('description').value}} -->
                    {{previewData?.value?.description}}
                </div>
                <div class="d-flex justify-content-center mb-3 ml-3 mt-5">
                    <!-- <i class="fa fa-map-marker icons-alignment"></i> -->
                    <mat-icon>location_on</mat-icon>
                    <span class="mx-3 preview-content">
                        <!-- {{storeInformationPreview.address}} -->
                        <!-- {{storeForm.get('storeInformation').get('address').value}} -->
                        {{previewData?.value?.location}}
                    </span>
                </div>
                <div class="d-flex justify-content-center mb-3 ml-3">
                    <!-- <i class="fa fa-clock-o icons-alignment"></i> -->
                    <mat-icon>schedule</mat-icon>
                    <span class="mx-3 preview-content">
                        <!-- {{storeInformationPreview.storeTimings}} -->
                        <!-- {{storeForm.get('storeInformation').get('storeTimings').value}} -->
                        {{previewData?.value?.storeTimings}}
                    </span>
                </div>
                <div class="d-flex justify-content-center mb-3 ml-3">
                    <!-- <i class="fa fa-phone icons-alignment"></i> -->
                    <mat-icon>call</mat-icon>
                    <span class="mx-3 preview-content">
                        <!-- {{storeInformationPreview.mobile}} -->
                        <!-- {{storeForm.get('storeInformation').get('mobile').value}} -->
                        {{previewData?.value?.phoneNumber}}
                    </span>
                </div>
                <div class="d-flex justify-content-center mb-3 ml-3">
                    <!-- <i class="fa fa-tag icons-alignment"></i> -->
                    <mat-icon>local_offer</mat-icon>
                    <span class="mx-3 preview-content">
                        <!-- {{storeInformationPreview.costLevel}} -->
                        <!-- {{storeForm.get('storeInformation').get('costLevel').value}} -->
                        {{previewData?.value?.costLevel}}
                    </span>
                </div>
                <div class="d-flex justify-content-center mb-3 ml-3">
                    <!-- <i class="fa fa-suitcase fa-fw icons-alignment" style="margin-left: 5px;"></i> -->
                    <mat-icon>work</mat-icon>
                    <span class="mx-3 preview-content">top rated</span>
                </div>
                <div class="d-flex justify-content-center mb-5 ml-3">
                    <!-- <i class="fa fa-link icons-alignment"></i> -->
                    <mat-icon>link</mat-icon>
                    <span class="mx-3 preview-content">
                        <!-- {{storeInformationPreview.website}} -->
                        <!-- {{storeForm.get('storeInformation').get('website').value}} -->
                        <a href="">{{previewData?.value?.website}}</a>
                    </span>
                </div>
                <div class="discount-box mb-4">
                    <div class="discount-coupon-image">
                        <img src="../../../assets/images/desktopimages/discountcoupon.svg">
                    </div>
                    <div class="pt-4 text-center" style="font-size: 16x;">
                        <!-- {{storeInformationPreview.discountCode}} -->
                        <!-- {{storeForm.get('storeInformation').get('discountCode').value}} -->
                        {{previewData?.value?.discountCode}}

                    </div>
                    <div class="text-center pt-2" style="font-size: 25px;">
                        <!-- {{storeInformationPreview.discountDescription}} -->
                        <!-- {{storeForm.get('storeInformation').get('discountDescription').value}} -->
                        {{previewData?.value?.discountDescription}}

                    </div>
                </div>
            </mat-card>
        </div>
        <div class="checkbox px-2 my-5 text-center">
            <label class="required">
                By clicking the Submit button, you agree
                to our
                <a target="_blank" href="/marketStoreTerms">terms and
                    conditions</a>
            </label>
        </div>
        <div class="w-50 d-flex justify-content-between mx-auto" style="margin-bottom: 4vh;">
            <button type="button" mat-raised-button class="blue-button" matStepperPrevious>Back</button>
            &nbsp;
            <button type="button" mat-raised-button class="pink-button" (click)="submit()">Submit</button>
        </div>
    </div>