<mat-card>
    <mat-card-content>
        <div *ngIf="previewData.type ==='blog'">
            <div>
                <img class="fit-image cover-title-image mb-5" src="{{previewData.coverTitleImage}}">
            </div>
            <div class="preview-title mb-5">{{previewData.coverTitle}}</div>
        </div>
        <div *ngIf="previewData.type ==='image'" class="mb-5">
            <div class="text-center">
                <img alt="" class="fit-image cover-image" src="{{previewData.coverImage}}">
            </div>
            <div class="caption">{{previewData.coverImageCaption}}</div>
        </div>
        <div *ngIf="previewData.type ==='video'" style="text-align: center;">
            <video width="320" height="240" controls>
                <source src="{{previewData.coverVideo}}" type="video/mp4">
                <!-- <source src="movie.ogg" type="video/ogg"> -->
                Your browser does not support the video tag.
            </video>
            <!-- <div>{{previewData.coverVideo}}</div> -->
            <div class="caption">{{previewData.coverVideoCaption}}</div>
        </div>
        <div *ngIf="previewData.type ==='link'" class="mb-5 text-center">
            <div>
                <a href="{{previewData.link.startsWith('http') ? previewData.link : 'https://'+previewData.link}}"
                    target="_blank">
                    {{previewData.link}}
                </a>
            </div>
            <div class="caption">{{previewData.linkCaption}}</div>
        </div>
        <div *ngFor="let item of previewData.subBlog;let i=index">
            <div *ngIf="item.subType ==='text'" class="mb-5 preview-text">
                {{item.text}}
            </div>
            <div *ngIf="item.subType ==='subTitle'" class="mb-5 preview-subtitle">
                {{item.subTitle}}
            </div>
            <div *ngIf="item.subType ==='image'" class="mb-5">
                <div class="text-center">
                    <img class="fit-image cover-image" src="{{item.image}}">
                </div>
                <div class="caption" style="opacity: 0.6;">{{item.imageCaption}}</div>
            </div>
            <div *ngIf="item.subType ==='video'" class="mb-5">
                <div class="preview-video">
                    {{item.video}}
                </div>
                <div class="caption" style="opacity: 0.6;">{{item.videoCaption}}</div>
            </div>
            <div *ngIf="item.subType ==='link'" class="text-center mb-5">
                <div>
                    <a href="{{item.link.startsWith('http') ? item.link : 'https://'+item.link}}"
                        target="_blank">{{item.link}}</a>
                </div>
                <div class="caption" style="opacity: 0.6;">{{item.linkCaption}}</div>
            </div>
            <div *ngIf="item.subType ==='specificText' " class="preview-specific-text mb-5">
                <hr>
                {{item.specificText}}
                <hr>
            </div>
        </div>
    </mat-card-content>
</mat-card>