/* You can add global styles to this file, and also import other style files */
@import "_variables";
@import "_reset";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
// Import Bootstrap Reboot
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";

html,
body {
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// ::-webkit-scrollbar {
//     width : 5px;
//     height: 50px;
// }

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #ff8a00, #e52e71);
    border-radius: 16px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(90deg, #d2d2d2, #d2d2d2 1px, #d2d2d2 0, #fff);
}

.app-scroll {
    ::-webkit-scrollbar {
        width: 5px !important;
        height: 50px;
    }
}

#mobileView {
    ::-webkit-scrollbar {
        width: 0 !important;
        height: 50px;
    }
}

@font-face {
    font-family: 'Avenir-Book';
    src: url('./assets/fonts/Avenir-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamBookRegular';
    src: url('./assets/fonts/GothamBookRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamMediumRegular';
    src: url('./assets/fonts/GothamMediumRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrandonGrotesqueThin';
    src: url('./assets/fonts/brandon-grotesque-thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrandonGrotesqueLight';
    src: url('./assets/fonts/brandon-grotesque-light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrandonTextLight';
    src: url('./assets/fonts/brandon_text_light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrandonTextThin';
    src: url('./assets/fonts/brandon_text_thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GOTHAM-LIGHT';
    src: url('./assets/fonts/GOTHAM-LIGHT.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamMedium';
    src: url('./assets/fonts/GothamMedium.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'promsocial';
    src: url('./assets/fonts/promsocial.ttf') format('truetype');
}


.text-center {
    text-align: center !important;
}


.desktop-button {
    height: 50px;
    font-family: GothamMedium !important;
    width: 200px;
    font-size: 12px;
    border-radius: 24px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

.pink-button {
    // background     : #d90081;
    background-image: linear-gradient(24deg, #c73e7f 0%, #e74894 100%);
    color: #fff;
    text-decoration: none;
}

.blue-button {
    // background     : #0c7ae5;
    background-image: linear-gradient(174deg, #333dff 0%, #5200e7 100%);
    color: #fff;
    text-decoration: none;
}

.btn:hover {
    color: #fff;
}

.btn.focus,
.btn:focus {
    box-shadow: none;
}

#desktopView {
    display: block;
}

#mobileView {
    display: none;
}

@media only screen and (max-width: 800px) {
    #desktopView {
        display: none;
    }

    #mobileView {
        display: block;
        height: 100%;
        overflow-y: auto;
    }
}

// .cdk-overlay-pane {
//     max-width: 60vw !important;
// }

.white-anchor,
.white-anchor::hover {
    color: #fff;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

mat-carousel {
    .carousel {
        ul {
            height: 300px !important;
        }
    }
}

.w-60 {
    width: 60%;
}

.blog-input {
    span {
        color: #fff !important;
    }

    .mat-form-field-underline {
        background-color: #fff;
    }

    .mat-input-element {
        caret-color: #fff;
        color: #fff;
    }

    .mat-form-field-ripple {
        background-color: #fff !important;
    }
}
.feature-request-dropdown{
    .mat-form-field-appearance-legacy .mat-form-field-underline {
        height: 0px;
    }
    .mat-form-field-underline {
        background-color: #fff;
    }
}