<div style="height: 100vh;overflow: auto;">
    <div class="container">
        <div class="col-sm-12">
            <div class="text-center heading py-3">
                Advertising Agreement Terms and Conditions for Placement of Digital Ads
            </div>
            <h4>1. Scope.</h4>
            <p>These terms and conditions govern the placement of digital ads (Digital Ads) by
                you
                (“Advertiser”) to the PromSocial mobile application. Each Digital Ad and these terms and conditions
                together
                constitute the agreement (“Agreement”) between the Advertiser and PromSocial, Inc. (“PromSocial”).
            </p>
            <h4>2. Term / Termination.</h4>
            <p>The Term of this Agreement is month to month and Advertiser or PromSocial
                can cancel
                at any time by providing the other party with 30 days’ prior written notice.
            </p>
            <h4>3. Representations and Warranties; Compliance with Laws.</h4>
            <p>Advertiser represents, warrants and
                covenants that
                (a) it has full power and authority to enter into this Agreement and perform its obligations hereunder;
                (b)
                its performance of this Agreement will not violate any contracts with third parties; (c) all materials
                and
                digital files submitted to PromSocial (“Ad Material”) do not contain any computer viruses or other
                damaging
                code; (d) all Ad Material and campaigns do not violate any rights of any third parties, including but
                not
                limited to copyright, trademark, patents, trade secrets, right to privacy, right of publicity
                (“Intellectual
                Property Rights”), and civil rights; and (e) it is familiar with and all Ad Materials comply with all
                applicable laws, regulations, and FTC and industry guidelines. By way of emphasis, Advertiser represents
                and
                warrants that it has obtained all necessary consents and releases before submitting Ad Material, and all
                statements and direct and indirect claims made in each Ad are accurate and true and supported by
                competent
                and reliable substantiation.
            </p>
            <h4>4.1. Ad Acceptance.</h4>
            <p>Submission of a Digital Ad to PromSocial does not constitute a commitment by
                PromSocial
                to publish the DigitalAd. PromSocial accepts a Digital Ad only by publishing such Digital Ad.
            </p>
            <h4>4.2. Ad Material Delivery.</h4>
            <p>Advertiser shall be responsible for timely providing to PromSocial
                all Ad Material
                necessary for publication of the Digital Ads, including all necessary artwork and/or digital files.
                PromSocial prohibits, and may postpone, cancel or otherwise return, any Ad Material that violates its
                advertising standards, including but not limited to advertising that violates applicable laws, promotes
                pornography, illegal goods, illegal drugs, illegal drug paraphernalia, pirated computer programs, and
                instructions on how to assemble or otherwise make bombs, grenades or other weapons.
            </p>
            <h4>4.3. Rejection of Ads.</h4>
            <p>To ensure integrity and for the benefit of other advertisers, PromSocial
                reserves the
                right to reject any Ad Material or any portion thereof at any time. PromSocial at all times reserves the
                right to refuse to publish any Digital Ad text or other content for any reason and regardless of whether
                any
                such Ad Material was previously accepted by PromSocial.
            </p>
            <h4>5.1. Digital Ownership.</h4>
            <p>As between the parties, PromSocial owns all right, title and interest
                in and to all
                content on the PromSocialmobile application (except for Ad Materials) and all other content, html and
                code.
                Nothing in this Agreement or otherwise precludes PromSocial from using any code, design, idea, concept
                or
                material used in connection with this Agreement on behalf of itself or any third party. PromSocial owns
                all
                right, title and interest in and to any data about users of its mobile application. Advertiser
                authorizes
                PromSocial to bring any claims PromSocial may in its reasonable discretion choose to pursue to prevent
                third
                party use of the content or data contained in any Advertising, without Advertiser’s consent.
            </p>
            <h4>6.1. Rates.</h4>
            <p>The agreed upon rate will be as selected by Advertiser as part of the digital
                signup process.
            </p>
            <h5>6.1.1. Payment.</h5>
            <p>Advertiser shall pay all Invoices within 15 days of Invoice date or as
                otherwise stated on
                the Invoice. “Invoice” means any electronic or paper request for payment regardless of the title of
                the
                document. Invoices may be titled “statement” or “bill.”
            </p>
            <h5>6.1.2. Late Payment and Collections.</h5>
            <p>Advertiser shall be responsible for all costs incurred
                by PromSocial in
                connection with the collection of any amounts owing hereunder, including without limitation,
                collection
                fees, court costs and reasonable attorneys’ fees.
            </p>
            <h4>6.2. Rate Changes.</h4>
            <p>PromSocial shall have the right to revise the advertising rates set
                forth in
                this
                Agreement at any time upon notice to Advertiser of such rates. Advertiser may terminate this
                Agreement
                on
                the date the new rates become effective by giving written notice within 30 days of such termination.
            </p>
            <h4>6.3. Taxes.</h4>
            <p>All prices are exclusive of all sales, use and excise taxes, and any other
                similar
                taxes, duties
                and charges of any kind imposed by any governmental authority on any amounts payable by Advertiser
                pursuant
                to this Agreement. Advertiser shall be responsible for all such charges, costs and taxes and all
                amounts
                paid and payable by PromSocial in discharge of the foregoing taxes. This provision shall survive the
                termination or expiration of this Agreement.
            </p>
            <h4>7.1. For all Ads.</h4>
            <p> It is Advertiser’s responsibility to check for errors in its Digital Ads
                before and after
                publication.PromSocial assumes no financial responsibility for typographical errors, or for omission
                of
                copy
                of Digital Ads.
            </p>
            <h4>8.1. Indemnification.</h4>
            <p>Advertiser shall defend, indemnify and hold harmless PromSocial and
                its
                affiliates,
                subsidiaries, and their respective directors, officers, principals, managers, members, partners,
                shareholders, employees, and controlling persons and their affiliates (PromSocial and each such
                person
                being
                an “Indemnified Party”), against any and all losses, damages, liabilities, deficiencies, claims,
                actions,
                judgments, demands, settlements, interest, awards, penalties, fines, costs, or expenses of whatever
                kind,
                including attorneys’ fees, fees and the costs of enforcing any right to indemnification
                (collectively,
                “Losses”), arising out of or resulting from its breach of this Agreement; negligence or willful act
                or
                omission of Advertiser or its personnel or affiliates in connection with its performance of its
                obligations
                under this Agreement; the content of, or representations made in any Ad or any mobile application
                linked
                to
                from an Ad; and any other claims of any nature arising from or attributable to the publication or
                distribution of any Digital Ad.
            </p>
            <h4>9.1.Limitation of Liability.</h4>
            <p>Except with respect to Advertiser’s indemnification and
                confidentiality
                obligations, in no event will either party be liable to the other for any consequential, incidental,
                indirect, exemplary, special or punitive damages whatsoever (including damages for loss of use,
                revenue
                or
                profit, business interruption and loss of information), whether arising out of breach of contract,
                tort
                (including negligence) or otherwise, regardless of whether such damage was foreseeable and whether
                or
                not
                such party has been advised of the possibility of such damages. In no event shall PromSocial be
                liable
                to
                Advertiser for any amount greater than the amount paid by Advertiser to PromSocial under this
                Agreement.
                PROMSOCIAL EXPRESSLY DISCLAIMS ALL WARRANTIES REGARDING ITS SERVICES OR ANY PORTION THEREOF,
                INCLUDING
                ANY
                IMPLIED WARRANTY OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, ANY IMPLIED WARRANTIES
                ARISING
                FROM
                COURSE OF DEALING OR COURSE OF PERFORMANCE, AND ANY WARRANTY REGARDING (a) THE NUMBER OF PERSONS WHO
                WILL
                ACCESS ANY ONLINE ADVERTISEMENT, ON ANY PROMSOCIALMOBILE APPLICATION OR THE ADVERTISER WEBSITE; (b)
                ANY
                BENEFIT ADVERTISER MIGHT OBTAIN FROM ANY ADVERTISING; AND (c) THE SPEED, ACCESSIBILITY, OPERATION OR
                FUNCTIONALITY OF ANY ADVERTISING TO BE DISPLAYED ONLINE.
            </p>
            <h4>10.1. License to Ad Materials.</h4>
            <p>Advertiser grants PromSocial a non-exclusive, perpetual,
                irrevocable and
                worldwide license to copy, store, display, print and distribute any and all Ad Materials provided by
                Advertiser or its agents, including but not limited to photographs, artwork, text and graphics, in
                any
                media, presently known or unknown, including but not limited to PromSocial’s electronic publications
                on
                the
                Internet and in any archival retrieval system whether that information is digitally stored or stored
                on
                any
                other media.PromSocial has no obligation to return any material (including Ad Material) submitted to
                PromSocial by or on behalf of Advertiser to Advertiser or any other party, and PromSocial shall have
                no
                liability for its loss or destruction.
            </p>
            <h4>11.1. Confidentiality.</h4>
            <p>PromSocial may disclose or make available to the Advertiser (as the
                “Receiving Party”)
                information about its business affairs and services, confidential information and materials
                comprising
                or
                relating to Intellectual Property Rights, third-party confidential information and other sensitive
                or
                proprietary information, as well as the terms of this Agreement including but not limited to the
                pricing
                and
                rates, whether orally or in written, electronic or other form or media, and whether or not marked,
                designated or otherwise identified as “confidential” (collectively, “Confidential Information”). The
                Advertiser shall from receipt/disclosure of such Confidential Information: (x) protect and safeguard
                the
                confidentiality of the PromSocial’s Confidential Information with at least the same degree of care
                as
                the
                Advertiser would protect its own Confidential Information, but in no event with less than a
                commercially
                reasonable degree of care; (y) not use the PromSocial’s Confidential Information, or permit it to be
                accessed or used, for any purpose other than to exercise its rights or perform its obligations under
                this
                Agreement; and (z) not disclose any such Confidential Information to any person, except to the
                Advertiser’s
                representatives who need to know the Confidential Information to assist the Advertiser, or act on
                its
                behalf, to exercise its rights or perform its obligations under this Agreement. The Advertiser shall
                be
                responsible for any breach of this Section caused by any of its representatives or agents. At any
                time
                during or after the Term, at the PromSocial’s written request, the Advertiser and its
                representatives
                shall
                promptly return/destroy all Confidential Information and copies thereof that it has received under
                this
                Agreement.
            </p>
            <h4>12.1. Assignment.</h4>
            <p> Advertiser may not resell, assign, or transfer any of its rights or
                obligations under this
                Agreement without the prior written consent of PromSocial. All terms and conditions in this
                Agreement
                will
                be binding upon and inure to the benefit of the parties and their respective permitted transferees,
                successors, and assigns.
            </p>
            <h4>12.2. Severability.</h4>
            <p> If any provision hereof is held invalid or unenforceable, such
                invalidity
                shall not
                affect the validity or operation of any other provision.
            </p>
            <h4>12.3. Relationship of Parties.</h4>
            <p>Nothing in this Agreement creates any agency, joint venture,
                partnership or
                other form of joint enterprise, employment or fiduciary relationship between the Parties. PromSocial
                is
                an
                independent contractor pursuant to this Agreement. Neither Party has any express or implied right or
                authority to assume or create any obligations on behalf of or in the name of the other Party or to
                bind
                the
                other Party to any contract, agreement or undertaking with any third party.
            </p>
            <h4>12.4. Governing Law & Venue.</h4>
            <p> This Agreementand all matters arising out of or relating to
                this
                Agreement, is
                governed by, and construed in accordance with the laws of the State of New Jersey. Both parties
                hereby
                consent to exclusive jurisdiction and venue of the state and federal courts in New Jersey.
            </p>
            <h4>12.5. Complete Agreement, Modification and Waiver.</h4>
            <p>This Agreement constitutes the final,
                complete, and
                exclusive statement of the terms of the Agreement between the parties with respect to all
                advertising and
                supersedes all prior and contemporaneous understandings or agreements of the parties, unless
                otherwise noted
                in this Agreement. This Agreement may be modified only by a written document signed by an authorized
                representative of both parties. Waiver of any of the terms of this Agreement by PromSocial in any
                instance
                shall not prevent PromSocial from subsequently enforcing any provision of this Agreement in
                accordance with
                its terms.
            </p>
        </div>
    </div>
</div>